data filter=lfs diff=lfs merge=lfs -text
data/hybridsort filter=lfs diff=lfs merge=lfs -text
data/leukocyte filter=lfs diff=lfs merge=lfs -text
data/hotspot filter=lfs diff=lfs merge=lfs -text
data/mummergpu filter=lfs diff=lfs merge=lfs -text
data/myocyte filter=lfs diff=lfs merge=lfs -text
data/nn filter=lfs diff=lfs merge=lfs -text
data/b+tree filter=lfs diff=lfs merge=lfs -text
data/srad filter=lfs diff=lfs merge=lfs -text
data/heartwall filter=lfs diff=lfs merge=lfs -text
data/hotspot3D filter=lfs diff=lfs merge=lfs -text
data/kmeans filter=lfs diff=lfs merge=lfs -text
data/lud filter=lfs diff=lfs merge=lfs -text
data/bfs filter=lfs diff=lfs merge=lfs -text
data/cfd filter=lfs diff=lfs merge=lfs -text
data/dwt2d filter=lfs diff=lfs merge=lfs -text
data/gaussian filter=lfs diff=lfs merge=lfs -text
data/huffman filter=lfs diff=lfs merge=lfs -text
