huffman/test1024_H2.206587175259.in filter=lfs diff=lfs merge=lfs -text
lud/512.dat filter=lfs diff=lfs merge=lfs -text
myocyte/y.txt filter=lfs diff=lfs merge=lfs -text
nn/cane4_2.db filter=lfs diff=lfs merge=lfs -text
hotspot3D/temp_512x4 filter=lfs diff=lfs merge=lfs -text
mummergpu/NC_003997_q25bp.50k.fna filter=lfs diff=lfs merge=lfs -text
nn/cane4_0.db filter=lfs diff=lfs merge=lfs -text
bfs/graph4096.txt filter=lfs diff=lfs merge=lfs -text
cfd/fvcorr.domn.193K filter=lfs diff=lfs merge=lfs -text
hotspot3D/temp_512x8 filter=lfs diff=lfs merge=lfs -text
hotspot/power_64 filter=lfs diff=lfs merge=lfs -text
hotspot/temp_1024 filter=lfs diff=lfs merge=lfs -text
kmeans/819200.txt filter=lfs diff=lfs merge=lfs -text
bfs/inputGen filter=lfs diff=lfs merge=lfs -text
hotspot3D/power_512x8 filter=lfs diff=lfs merge=lfs -text
hotspot/inputGen filter=lfs diff=lfs merge=lfs -text
kmeans/100 filter=lfs diff=lfs merge=lfs -text
b+tree/mil.txt filter=lfs diff=lfs merge=lfs -text
hotspot/power_512 filter=lfs diff=lfs merge=lfs -text
hotspot/temp_512 filter=lfs diff=lfs merge=lfs -text
lud/2048.dat filter=lfs diff=lfs merge=lfs -text
mummergpu/NC_003997_q100bp.fna filter=lfs diff=lfs merge=lfs -text
srad/image.pgm filter=lfs diff=lfs merge=lfs -text
gaussian/matrix1024.txt filter=lfs diff=lfs merge=lfs -text
hotspot/temp_64 filter=lfs diff=lfs merge=lfs -text
mummergpu/genreads.py filter=lfs diff=lfs merge=lfs -text
bfs/graph1MW_6.txt filter=lfs diff=lfs merge=lfs -text
dwt2d/192.bmp filter=lfs diff=lfs merge=lfs -text
gaussian/matrix208.txt filter=lfs diff=lfs merge=lfs -text
gaussian/matrixGenerator.py filter=lfs diff=lfs merge=lfs -text
bfs/graph65536.txt filter=lfs diff=lfs merge=lfs -text
cfd/missile.domn.0.2M filter=lfs diff=lfs merge=lfs -text
kmeans/204800.txt filter=lfs diff=lfs merge=lfs -text
myocyte/params.txt filter=lfs diff=lfs merge=lfs -text
nn/inputGen filter=lfs diff=lfs merge=lfs -text
cfd/fvcorr.domn.097K filter=lfs diff=lfs merge=lfs -text
hotspot3D/power_512x4 filter=lfs diff=lfs merge=lfs -text
leukocyte/testfile.avi filter=lfs diff=lfs merge=lfs -text
dwt2d/inputGen filter=lfs diff=lfs merge=lfs -text
gaussian/matrix16.txt filter=lfs diff=lfs merge=lfs -text
gaussian/matrix4.txt filter=lfs diff=lfs merge=lfs -text
heartwall/input.txt filter=lfs diff=lfs merge=lfs -text
hotspot3D/temp_64x8 filter=lfs diff=lfs merge=lfs -text
kmeans/kdd_cup filter=lfs diff=lfs merge=lfs -text
mummergpu/NC_003997.fna filter=lfs diff=lfs merge=lfs -text
nn/cane4_3.db filter=lfs diff=lfs merge=lfs -text
b+tree/command.txt filter=lfs diff=lfs merge=lfs -text
gaussian/matrix3.txt filter=lfs diff=lfs merge=lfs -text
hotspot3D/temp_512x2 filter=lfs diff=lfs merge=lfs -text
kmeans/inpuGen filter=lfs diff=lfs merge=lfs -text
lud/64.dat filter=lfs diff=lfs merge=lfs -text
nn/cane4_1.db filter=lfs diff=lfs merge=lfs -text
dwt2d/rgb.bmp filter=lfs diff=lfs merge=lfs -text
heartwall/test.avi filter=lfs diff=lfs merge=lfs -text
lud/256.dat filter=lfs diff=lfs merge=lfs -text
hybridsort/500000.txt filter=lfs diff=lfs merge=lfs -text
mummergpu/NC_003997.20k.fna filter=lfs diff=lfs merge=lfs -text
hotspot3D/power_512x2 filter=lfs diff=lfs merge=lfs -text
hotspot3D/power_64x8 filter=lfs diff=lfs merge=lfs -text
nn/filelist.txt filter=lfs diff=lfs merge=lfs -text
hotspot/power_1024 filter=lfs diff=lfs merge=lfs -text
